.creations{
  display: block;
  gap: 20px;
  width: 80%;
  margin: 10vh auto;
  .creations-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    p{
      font-size: 25px;
      text-transform: uppercase;
      @include fonts('Alata');
    }
    #see-more{
      margin: 0 15px 0 0;
      @include see_more__link;
    }
  }
  .images-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    gap: 10px;
    .images{
      position: relative;
      img{
        height: 400px;
      }
      span{
        transform: translate(-50%, -40%);
        font-size: 25px;
        @include image-label;
      }
    }
  }
}