@import 'https://fonts.google.com/specimen/Alata';
@import 'https://fonts.google.com/specimen/Josefin+Sans';


// colors mixin
@mixin color-chooser($color) {
  @if $color == "White" {
    color: hsl(0, 0%, 100%);
  }
  @if $color == "Black" {
    color: hsl(0, 0%, 0%);
  }
  @if $color == "Dark Grey" {
    color: hsl(0, 0%, 55%);
  }
  @if $color == "Very Dark Grey" {
    color: hsl(0, 0%, 41%);
  }
}

//fonts and font-sizes
@mixin fonts($family) {
  @if $family == "Alata" {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
  }
  @if $family == "Josefin Sans" {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
  }
}

//links
@mixin hyperlinks($color) {
  text-decoration: none;
  font-size: 15px;
  color: $color;
}

@mixin image-label {
  position: absolute;
  bottom: 5%;
  left: 40%;
  z-index: 999;
  color: #fff;
  text-transform: uppercase;
  @include fonts('Alata');
}

@mixin see_more__link {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  text-transform: uppercase;
  @include fonts('Alata');
  padding: 5px;
  border: solid 2px hsl(0, 0%, 41%);
  font-size: 12px;
  letter-spacing: 1px;
  &:active, &:hover{
    background-color: #000;
    color: #fff;
    border: solid 2px #000;
  }
}