@import 'https://fonts.google.com/specimen/Alata';
@import 'https://fonts.google.com/specimen/Josefin+Sans';
.page-header-wrapper {
  height: 80vh;
  background: url("../images/desktop/image-hero.jpg") no-repeat;
  background-size: cover;
}
.page-header-wrapper .page-header {
  width: 80%;
  margin: 0 auto;
}
.page-header-wrapper .page-header .page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.page-header-wrapper .page-header .page-navigation #toggler {
  display: none;
}
.page-header-wrapper .page-header .page-navigation h2 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.page-header-wrapper .page-header .page-navigation .navigation-links a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  margin: 0 15px;
}
.page-header-wrapper .page-header .page-navigation .navigation-links a:hover {
  text-decoration: #fff underline;
}
.page-header-wrapper .page-header .page-motto {
  width: 40%;
  font-size: 50px;
  padding: 10px 25px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  color: white;
  border: solid 2px #fff;
  text-transform: uppercase;
}

.mobile-nav__display {
  position: fixed;
  top: 5px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 80%;
  padding: 3px;
  justify-content: space-around;
  background-color: #000;
}

.interactive-section {
  display: grid;
  grid-template-columns: repeat(2, 45% 50%);
  width: 80%;
  margin: 15vh auto;
}
.interactive-section img {
  height: 400px;
}
.interactive-section .section-content {
  align-self: flex-end;
  padding: 50px 60px 0;
  background-color: #fff;
}
.interactive-section .section-content span {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
.interactive-section .section-content p {
  font-size: 15px;
  line-height: 25px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  color: #8c8c8c;
}

.creations {
  display: block;
  gap: 20px;
  width: 80%;
  margin: 10vh auto;
}
.creations .creations-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.creations .creations-header p {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}
.creations .creations-header #see-more {
  margin: 0 15px 0 0;
  text-decoration: none;
  color: dimgray;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  padding: 5px;
  border: solid 2px dimgray;
  font-size: 12px;
  letter-spacing: 1px;
}
.creations .creations-header #see-more:active, .creations .creations-header #see-more:hover {
  background-color: #000;
  color: #fff;
  border: solid 2px #000;
}
.creations .images-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 10px;
}
.creations .images-grid .images {
  position: relative;
}
.creations .images-grid .images img {
  height: 400px;
}
.creations .images-grid .images span {
  transform: translate(-50%, -40%);
  font-size: 25px;
  position: absolute;
  bottom: 5%;
  left: 40%;
  z-index: 999;
  color: #fff;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.creations-mobile {
  display: none;
}

@media screen and (min-width: 350px) and (max-width: 760px) {
  .creations-mobile {
    display: block;
    width: 90%;
    margin: 20px auto;
    text-align: center;
  }
  .creations-mobile .creations-header__mobile p {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Alata", sans-serif;
    font-weight: 400;
  }
  .creations-mobile .images-grid__mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .creations-mobile .images-grid__mobile .images {
    position: relative;
  }
  .creations-mobile .images-grid__mobile .images img {
    width: 100%;
    height: 200px;
  }
  .creations-mobile .images-grid__mobile .images .img-title {
    position: absolute;
    bottom: 5%;
    left: 40%;
    z-index: 999;
    color: #fff;
    text-transform: uppercase;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    transform: translate(-60%, 0%);
    font-size: 20px;
  }
  .creations-mobile #see-more__mobile {
    text-decoration: none;
    color: dimgray;
    text-transform: uppercase;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    padding: 5px;
    border: solid 2px dimgray;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px auto;
  }
  .creations-mobile #see-more__mobile:active, .creations-mobile #see-more__mobile:hover {
    background-color: #000;
    color: #fff;
    border: solid 2px #000;
  }
}
.page_footer {
  height: 200px;
  background-color: #000;
}
.page_footer > div {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.page_footer > div .footer_section-1 p {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  font-size: 20px;
}
.page_footer > div .footer_section-1 .page_href .links {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.page_footer > div .footer_section-2 .social-media {
  margin: 20px 0;
}
.page_footer > div .footer_section-2 .social-media a {
  margin: 5px;
}
.page_footer > div .footer_section-2 .social-media a img {
  width: 18px;
  height: 18px;
}
.page_footer > div .footer_section-2 p {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 340px) and (max-width: 760px) {
  .page-header-wrapper {
    height: 90vh;
    background: url(../images/mobile/image-hero.jpg) no-repeat;
  }
  .page-header-wrapper .page-header {
    width: 95%;
  }
  .page-header-wrapper .page-header .page-navigation {
    height: 100px;
  }
  .page-header-wrapper .page-header .page-navigation #toggler {
    display: block;
  }
  .page-header-wrapper .page-header .page-navigation #toggler #toggleCl {
    display: none;
    z-index: 9999;
  }
  .page-header-wrapper .page-header .page-navigation .navigation-links {
    display: none;
  }
  .page-header-wrapper .page-header .page-motto {
    width: 80%;
    height: 100%;
    font-size: 30px;
    margin: 60px auto;
  }

  .interactive-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10vh 0;
  }
  .interactive-section img {
    height: 300px;
  }
  .interactive-section .section-content span {
    width: 90%;
    font-size: 25px;
    justify-content: center;
    text-align: center;
  }
  .interactive-section .section-content p {
    text-align: center;
  }

  .creations {
    display: none;
  }

  .page_footer {
    height: auto;
  }
  .page_footer > div {
    width: 90%;
    margin: auto;
    flex-direction: column;
    gap: 20px;
  }
  .page_footer > div .footer_section-1 {
    text-align: center;
  }
  .page_footer > div .footer_section-1 .page_href {
    display: flex;
    flex-direction: column;
  }
  .page_footer > div .footer_section-1 .page_href .links {
    margin: 10px;
  }
  .page_footer > div .footer_section-2 {
    text-align: center;
  }
}
@media screen and (min-width: 761px) and (max-width: 1100px) {
  .page-header-wrapper .page-header .page-motto {
    width: 60%;
  }

  .interactive-section {
    width: 100%;
    grid-template-columns: repeat(2, 50% 50%);
  }
  .interactive-section .section-content span {
    font-size: 30px;
  }
  .interactive-section .section-content p {
    text-align: center;
  }

  .creations {
    width: 90%;
  }
  .creations .images {
    width: 150px;
  }
  .creations .images span {
    font-size: 20px;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}

/*# sourceMappingURL=main.css.map */
